# -------------------------------
# Build artifacts
# -------------------------------
build/
dist/

# PyInstaller / Spec files
*.spec

# -------------------------------
# Python cache
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# Virtual environments
# -------------------------------
venv/
.env/
.env/

# -------------------------------
# OS / Editor junk
# -------------------------------
.DS_Store
Thumbs.db
*.log

# -------------------------------
# IDE specific
# -------------------------------
.vscode/
.idea/
